<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="doppler.dao.UserDao">
	<select id="getUser" parameterType="java.lang.Integer" resultType="User">
	select * from user where id=#{id}
	</select>
	<insert id="insert" parameterType="User"  useGeneratedKeys="true" >
	insert into user(id,loginName,name,password,registTime) 
	values(#{id},#{loginName},#{name},#{password},#{registTime})
	</insert>
	<select id="getAllLoginNames" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT loginName FROM user
	</select>
	<select id="getLoginName" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT loginName FROM user WHERE loginName=#{loginName}
	</select>
</mapper>